*{
    -fx-font-family: sans-serif;
}

Label{
    -fx-font-size: 20;
}

TextField{
    -fx-font-size: 22;
    -fx-text-fill: #a14403;
}

#container{
    -fx-border-color: #818181;
    -fx-border-radius: 2.5%;
    -fx-border-width: 1px;
    -fx-padding: 25px;
}

#app_title{
    -fx-font-size: 28;
}
#logo{
    -fx-graphic: url('../images/logo.png');
}

#window{
    -fx-background-color: #e6e6e6;
}

#mainContainer{
    -fx-background-color: #e6e6e6;
    -fx-padding: 30;
    -fx-background-radius: 10px;
    -fx-border-color: #818181;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, grey, 30, 0, 0, 15);
}

DatePicker{
    -fx-font-size: 20;
}

#allowed{
    -fx-background-color: rgba(94, 230, 0, 0.1);
}
#allowed:hover{
    -fx-text-fill: #11110e;
}
#not-allowed{
    /*-fx-background-color: rgba(104, 104, 104, 0.02);*/
    -fx-text-fill:  rgba(104, 104, 104, 0.7);
}

#overdue{
    -fx-text-fill: red;
}