* {
    /*-fx-primary-color: #f9b900;*/
    /*-fx-secondary-color: #82a6c0;*/
    -fx-primary-color: #e4e4e4;
    -fx-secondary-color: #bbbbbb;

    -fx-focus-color: -fx-secondary-color;
}

.tab-header-area .tab-header-background {
    /*-fx-background-color: -fx-primary-color;*/
}
.tab-pane .tab:selected {
    -fx-background-color: -fx-secondary-color;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: -fx-primary-color;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    /*-fx-text-fill: white;*/
    /*-fx-font-weight: bold;*/
    -fx-padding: 0 10 0 10;
    -fx-font-size: 18;
}
.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 0;
    /* NO SPACE LEFT OF FIRST TAB */
    /* -fx-padding: 0 0 0 30; */
}
.tab-pane {
    -fx-tab-min-width: 150px;
    -fx-tab-min-height: 40px;
    -fx-tab-max-height: 50px;
}
.tab-pane .tab {
    -fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}